.menuGeneral{
    display: flex;
    flex-direction: column;
}

.menuPrincipal{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--colorHeader);
}

.menuRight{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img{
    width: 30px;
    border-radius: 10px
}

.menuPrincipal a, .menuPrincipal, .menuSecundario a, .menuSecundario{
    color: var(--fuentePrincipal);
    text-decoration: none;
}

.menuSecundario{
    display: flex;  
    background-color: var(--colorPrincipal);
    padding: 10px 20px;
    box-sizing: border-box;
}

.menuHamburger{
    flex: 1;
}

.listaOption{
    display: flex;
    flex: 20;
    justify-content: center;
    gap: 15px;
}

.boxBuscador{
    display: flex;
    gap: 5px;
}

.lupa{
    width: 30px;
    min-height: 100%;
    border: 1px solid var(--white-50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}

.buscador{
    background-color: transparent;
    border: 1px solid var(--white-50);
    border-radius: 0 5px 5px 0;
    width: 450px;
    padding: 0 5px 0 15px;
    color: var(--white-50);
}

.menuLeft{
    display: flex;
    gap: 20px;
}

.menuHamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.iconMenu{
    font-size: 28px;
}

.opcionPrincipal{
    transition: color 200ms;
}

.opcionPrincipal:hover{
    color: var(--gamboge-500);
}

.opcionSecundaria{
    transition: all 200ms;
}

.opcionSecundaria:hover{
    text-decoration: underline;
}