body{
    background-color: var(--colorFondo);
    color: var(--fuentePrincipal);
}

.menuGeneral{
    display: flex;
    flex-direction: column;
}

.menuPrincipal{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--colorHeader);
}

.menuRight{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img{
    width: 30px;
    border-radius: 10px
}

.menuPrincipal a, .menuPrincipal, .menuSecundario a, .menuSecundario{
    color: var(--fuentePrincipal);
    text-decoration: none;
}

.menuSecundario{
    display: flex;  
    background-color: var(--colorPrincipal);
    padding: 10px 20px;
    box-sizing: border-box;
}

.menuHamburger{
    flex: 1;
}

.listaOption{
    display: flex;
    flex: 20;
    justify-content: center;
    gap: 15px;
}

.boxBuscador{
    display: flex;
    gap: 5px;
}

.lupa{
    width: 30px;
    min-height: 100%;
    border: 1px solid var(--white-50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}

.buscador{
    background-color: transparent;
    border: 1px solid var(--white-50);
    border-radius: 0 5px 5px 0;
    width: 450px;
    padding: 0 5px 0 15px;
    color: var(--white-50);
}

.menuLeft{
    display: flex;
    gap: 20px;
}

.menuHamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.iconMenu{
    font-size: 28px;
}

.opcionPrincipal{
    transition: color 200ms;
}

.opcionPrincipal:hover{
    color: var(--gamboge-500);
}

.opcionSecundaria{
    transition: all 200ms;
}

.opcionSecundaria:hover{
    text-decoration: underline;
}


/* Main */

.boxOfertas{
    display: flex;
    flex-direction: column;
    height: 86vh;
    gap: 10px;
    padding: 30px 40px 40px 40px;
}

.tittle{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.boxSliderOfertas{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.verMas{
    color: var(--white-50);
    text-decoration: none;
    border: 1px solid var(--white-50);
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxBoxOfertas{
    display: flex;
    height: 100%;
}

.boxOfertaMain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    min-height: 100%;
    gap: 5px;
}

.oferta1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.oferta1, .oferta2, .oferta3, .oferta4, .oferta5{
    background-color: var(--masala-800);
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta3{
    grid-row: 2 / 4;
}

/* Cards */

.section{
    margin-bottom: 40px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxProductos{
    display: flex;
    gap: 10px;
}

.sliderProductos{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.arrow{
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    transition: color 200ms;
}

.arrow:hover{
    background-color: var(--colorPrincipal);
}

.arrowIcon{
    font-size: 30px;
}


.sliderBoxProductos{
    display: flex;
    width: 100%;
    gap: 15px;
}

.card{
    background-color: var(--colorPrincipal);
    color: var(--fuentePrincipal);
    min-width: 290px;
    max-width: 290px;
    /*max-height: 500px;*/
    display: flex;
    flex-direction: column;
}

.imgProducto{   
    
    height: 290px;
    background-color: antiquewhite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgProducto img{
    min-width: 100%;
}

.detalles{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
