.container-left {
    background-color: var(--formularioBox);
    width: 40%;
    min-height: 100vh;
    max-height: 100%;
    margin: 0;
    box-shadow: 60px -5px 150px -22px var(--formularioBoxShadow);
    position: relative;
}

h1 {
    padding: 15vh 0 10vh 0;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: var(--fuenteHeader);
}

form {
    padding: 0 10%;
}

fieldset {
    border: none;
    margin-bottom: 5vh;
}

label {
    display: block;
    font-size: 24px;
    line-height: 29px;
    margin-left: 30px;
    color: var(--fuenteHeader);
}

.submit {
    display: block;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin: 30px auto;
    background-color: var(--hoverHeader);
    border: 0;
    color: var(--fuenteHeader);
}

p, a {
    color: var(--fuenteHeader);
    text-align: center;
}

.changePage {
    position: absolute;
    left: 5vh;
    bottom: 5vh;
}